<nav class="navbar navbar-dark bg-info d-flex justify-content-around">
  <a id="linkStudents" class="navbar-brand" href="students">Students</a>
  <a id="linkGroups" class="navbar-brand " href="groups">Groups</a>
</nav>