<nav class="navbar navbar-dark bg-info d-flex justify-content-around">
  <a id="navbar-students" class="navbar-brand" href="students">Students</a>
  <a id="navbar-groups" class="navbar-brand " href="groups">Groups</a>
</nav>