@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@media (max-width: 600px) {
     input, button, table {
        font-size: 0.5em;   
    }
    table th,tr{
        padding: 0.25rem !important;
        vertical-align: middle !important;
    }
  }

nav {
    font-family: 'Oswald';
}

ul{
    font-family: 'Source Sans Pro';
}

.button{
    border: 2em;
    border-radius: 0.2em;
    height: 3em;
    width: 100%;
}
.input{
    border: 2em;
    border-radius: 0.2em;
    height: 3em;
    width: 100%;
}

.hide{
    display: none;
}

li {
    list-style: none;
}

.color-passive{
    background-color: #289FA1 !important; 
}
.color-active{
    background-color:#1F787A !important; 
}
li label:hover{
    background-color:#1F787A;
}

.boost{
    font-size: 150%;
}

.text-white{
    color: #FFF
}
/* button img{
    position: absolute;
    transform: translate(-50%, -50%);
} */
